* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f6f6;
    height: 100vh;
}

/* Pantallas */
.screen {
    display: none;
    width: 100%;
}

.screen.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Caja principal */
.contenedor_mayor {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 95%;
}

/* Logo y slogan */
.del_logo img {
    width: 120px;
}

.del_logo h1 {
    color: #222;
    font-size: 25px;
    font-weight: bolder;
}

.slogan {
    font-size: 11px;
    color: #555;
    letter-spacing: 2px;
    margin-top: 5px;
}

/* Formulario */
.formulario input {
    width: 100%;
    margin-top: 15px;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input:focus {
    outline: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 12px 10px;
    border-radius: 10px;
    color: white;
    margin-top: 12px;
    margin-bottom: 18px;
    font-weight: bold;
    background-color: #d9a600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #c19100;
}

.formulario a {
    display: block;
    padding: 0 15px;
    text-align: center;
    color: #444;
    margin-top: 8px;
    font-size: 12px;
    text-decoration: none;
}

.formulario a:hover {
    text-decoration: underline;
}

/* Errores */
.mensaje-error {
    color: rgba(230, 38, 38, 0.906);
    font-size: 11px;
    font-style: italic;
    display: block;
    text-align: left;
    padding: 0 5px;
}

.error {
    border: 1px solid rgba(245, 78, 78, 0.7) !important;
}

